body {
    color: red;
}
body {font-style: Arial; Helvetia, sans-serif;
    color: darkcyan;
}
h1{
    color: cadetblue;
}
p {
    background-color: antiquewhite;
}
/* selecting multiple elements  */
h1 h2 h3 h4 {
    text-decoration: underline;
}
/* selecting child elemnts */
nav ul {
    list-style: none;
}
/* selecting child element with multiple levels */
nav ul {
    color: darkslategray;
    text-decoration: none;
}
article>p {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    text-transform: lowercase;
    text-align: center;
}