body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

header, footer{
    background-color: rgb(250, 7, 24);
}
.HeadingSecond{
    color: rgb(14, 76, 130);
}
#my-image{
    box-shadow: 0px 0px 2px 1px #000000;
}
.BulletPoint{
    list-style: none;
}
.hii{
    list-style-type: square;
}
 .hii>li:nth-child(odd){
background-color: blueviolet;
 }   
.RemoveUnderline{
    text-decoration: none;
    background-color: green;
    border: 2px solid #000000;
}
.RemoveUnderline:hover{
    background-color: blueviolet;
}