body.container {
    margin-left: 130px;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
/* Adding Blockquote css */
blockquote, q {
	quotes: none;
}
/* Adding blockquote before and after css */
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/* Adding Table Css */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
    box-sizing: border-box;
}
/* Adding css in body with font famliy */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    max-width: 1200px;
}
/* adding header css with colour */
header {
    background-color: #222;
}
/* adding logo container img css */
.logo-container img {
width: 70px;
}
/* Adding 11 elements css together  */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}

/* adding padding to the menu class*/

header>div {

    padding-top: 15px;
}
/* Adding menu css with colour */
.menu {
    background-color: #222;
    padding-left: 0px;
}
/* Adding Navigation css with padding right and left */
nav {

    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
}
/* Adding navigation logo container css with background color */
nav .logo-container {
    flex-basis: 18%;
    background-color: #c78c06;
}
/* Adding Navigation UL Css  */
nav ul {
    flex-basis: 100%;
}
nav a {
    display: inline-block;
    flex-basis: 100%;
    width: 100%;

    text-decoration: none;
    font-size: 1rem;
    color: #c78c06;
    background-color: #222;
    padding-bottom: 25px;
    padding-top: 25px;
}

nav .search-bar {
    /*flex-basis: calc(90% - 0px);*/
    height: 40px;
}
/* Adding navigation search button css with background colour */
nav .search-button {
    flex-basis: calc(10% - 0px);
    background-color: #222;
    border: 1px solid #c78c06;
    height: 40px;
}
/* Adding magnifying glass css with font size and background  */
.fa-magnifying-glass {
    color: #c78c06;
    font-size: 1.2rem;
}
/* Adding Navigation LI css with centre align */
nav li {
    list-style-type: none;
    text-align: center;
}

/* Adding hover css in the button */
nav a:hover {
    background-color: #c78c06;
    color: #222;
}
nav a:active {
    background-color: #c78c06;
    color: #222;
}
nav a:active::after {
    background-color: #c78c06;
}
/* Adding input with padding and font size */
input[type='text'] {
    padding: 10px;
    font-size: 1.1rem;
}
/* Adding h1 Css with colour and weight of font */
h1 {
    color: #fff;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 5rem;
}
/* Adding main banner css with colors and padding */
.main-banner p {
    color: #fff;
    padding-top: 20px;
    font-weight: 500;
}
.btn {
    display: inline-block;
    padding: 30px;
    font-size: 1.3rem;
    font-weight: 400;
    text-decoration: none;  
}
.secondary {
    background-color: #c78c06;
    color: #222;
}
.fa-caret-right {
    padding-left: 10px;
    font-size: 1.5rem;
}
/* Adding main banner css */
.main-banner {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
/* Adding responsive image css */
.responsive-image {
    width: 100%;
}
img {
    max-width: 100%;

}
/* Adding main banner and flex container css */
.main-banner .flex-container {

    grid-column: 1/2;

    grid-row: 1;

}
/* Adding main banner and dark background css */
.main-banner .dark-background {

    grid-column: 1/2;
    grid-row: 1;
    height: auto;
    margin: auto;
    background-color: rgba(34, 34, 34, 0.5);
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
/* Adding color section css  */
.color-section {
    background-color: #ffe6ac;
    margin-bottom: 15px;
}
/* Adding wrapper css with margin and padding */
.wrapper {
    margin: 0 auto;
    padding: 15px;
}
/* Adding h2 section css */
h2 {
    font-size: 2.8rem;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* Adding paragraph section css */
p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    padding-bottom: 1rem;
}

/* Adding vision section css */

.vision {
    display: grid;
    background-image: url(images/vision.jpg);
    background-image: url(../images/vision.jpg);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 300px;
    align-items: center;
    overflow: hidden;
    background-position: center;
}
/* Adding vision full image css */
.vision .full-image {  
    width: 100%;
}
.vision img {
    max-width: 100%;
    grid-column: 1/2;
    grid-row: 1;
}
.vision div {
    grid-column: 1/2;
    grid-row: 1;
}
/* Adding vision h3 css */
.vision h3 {
    color: #fff;
}
/* Adding vision paragraph css */
.vision p {
    color: #fff;
    font-weight: 500;
}
/* Adding vision flex container css */
.vision .flex-container {
    display: flex;
    align-items: center;
}
/* Adding dark secondary css */
.dark-secondary {
    background-color: rgba(34,34,34,0.8);
    color: #fff;
    border: 1px solid #c78c06;
}

/* Adding team section css */
.team-member {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 40px;
    margin-bottom: 20px;
}
/* Adding subtitle css */
.subtitle {
    font-weight: 800;
    font-size: .8rem;
    padding-bottom: 0px;
}
/* Adding hr Css with border and margin */
hr {
    border: 1px solid #c78c06;
    margin-top: 2px;
    margin-bottom: 15px;
}
.team div {
    line-height: 0;
}
/* Adding our services css */

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* Adding Digita; marketing css */
.digital, .marketing {
    flex-basis: calc(50% - 8px);
}
/* Adding video, web, print css */
.video, .web, .print {
    flex-basis: calc(33.33% - 8px);
}
.service div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 60px 110px 80px;
}

.service a {

    width: 100%;
    text-align: center;
}
/* Adding h3 css with font size */
h3 {
    font-size: 1.7rem;
}
.vision {
    height: 300px;
}
/* Adding team css with grid */
.team {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
/* Adding team responsive image css */
.team .responsive-image {
    grid-column: 1/2;
}
/* Adding child character-1 css with grid  */
.team div:nth-child(4){
    grid-column: 1/2;
    grid-row: 2/3;
}
/* Adding child character-2 with grid */
.team div:nth-child(3){
    grid-column: 2/3;
    grid-row: 2/3;
}

.color-section {
    margin-bottom: 0px;
}
/* Adding contact section css with grid  */
.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "message map"
    "hours hours"
}
/* Adding message css */
.message {
    grid-area: message;
}
/* Adding Hours css */
.hours {
    grid-area: hours;
}
/* adding map css */
.map {
    grid-area: map;
}
/* adding form css  */
form {
    padding-right: 10px;
}

/* Adding services section css */
.service {
    background-color: #ffe6ac;
    margin-bottom: 15px;
}

img {
    width: 100%;
}
div.service div {
    padding: 15px;
}
h3 {
    font-weight: 700;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.dark {
    background-color: #222;
    color: #fff;
}

/* Adding contact us section css */
label {
    display: inline-block;
    font-weight: 500;
    margin-bottom: 5px;
}
/* Adding contact input css */
.contact input[type='text'] { 
    width: 100%;
    height: 30px;
    border: 1px solid #222;
    margin-bottom: 10px;
    font-size: .9rem;
    font-family: 'Open Sans', sans-serif;
    padding: .4rem;
    border-radius: 3px;
}
/* Adding textarea css */
textarea {
    width: 100%;
    height: 120px;
    padding: .4rem;
    border: 1px solid #222;
    resize: none; 
    font-size: .9rem;
    font-family: 'Open Sans', sans-serif;
    border-radius: 3px;
}
/* Adding contact button css with color */
.contact button {
    background-color: #222;
    color: #c78c06;
    font-size: 1.2rem;
    padding: 5px;
    border: 1px solid #222;
    margin-top: 20px;
    margin-bottom: 20px;
}

table, td, th {
    border: 1px solid #222;
    padding: 15px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

thead {

    background-color: #ffe6ac;
}
/* Adding map css */
map {
    width: 100%;
}

/* Adding footer css */

footer {
    background-color: #222;
    color: #c78c06;
}
/* Adding footer p css */
footer p {
    font-weight: 400;
    font-size: .8rem;
}

footer a {
    color: #c78c06;
}

/* Adding Media Querie with 760px */

@media screen and (min-width: 760px) {

    .wrapper {
        width: 80%;
    }

    p {
        font-size: .9rem;
        line-height: 1.2rem;
    }
    nav {
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    nav.logo-container {
        flex-basis: 98px;
    }

    .menu {
        justify-content: space-evenly;
    }

    nav img {
        width: 100%;
    }

    nav a {
    padding: 0px 14px;
}

nav a {
    display: inline-block;
    flex-basis: 100%;
    width: 100%;
    text-decoration: none;
    font-size: 0.9rem;
    color: #c78c06;
    background-color: #222;
}
    nav.search-bar {
        flex-basis: calc(20% - 0px);
    }
    nav .search-button {
        flex-basis: calc(5% - 0px);
    }
    .dark-background {
        width: 80%;
    }
        .main-banner {
        height: 500px;
    }
    .flex-container {
        display: flex;
        align-items: center;
        overflow: hidden;
    }
    .about {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .about-image {
        grid-column: 1/2;
    }
    .about-text {
        grid-column: 2/3;
        margin-left: 10px;
    }
}

@media screen and (max-width: 1200px) {

    body.container {
    margin-left: 0;
}

  h3 {
    font-weight: 700;
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }
}

@media screen and (max-width: 1080px) {

    body.container {
    margin-left: 0;
}

  h3 {
    font-weight: 700;
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }

  .btn {
    display: inline-block;
    padding: 20px;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
}

.main-banner p {
    color: #fff;
    padding-top: 0;
    font-weight: 500;
}

.main-banner .dark-background {
    grid-column: 1/2;
    grid-row: 1;
    height: auto;
    margin: auto;
    background-color: rgba(34, 34, 34, 0.5);
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}


}

@media screen and (max-width: 820px) {

    body.container {
    margin-left: 0;
}

.wrapper {
    width: auto;
}

.team {
    display: block;
}

  h3 {
    font-weight: 700;
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }

  .btn {
    display: inline-block;
    padding: 20px;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
}

.main-banner p {
    color: #fff;
    padding-top: 0;
    font-weight: 500;
}

.main-banner .dark-background {
    grid-column: 1/2;
    grid-row: 1;
    height: auto;
    margin: auto;
    background-color: rgba(34, 34, 34, 0.5);
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}


}
